@CHARSET "ISO-8859-1";

body {
	padding: 60px;
}

.navbar-default {
	background: #fff;
}

.edit, .editing > .hidden_on_editing {
	display: none;
}
.editing > .edit {
	display: block;
}

/*.estructuraie-nivel.edit > .editbtn, 
.estructuraie-nivel.edit > .desc, .estructuraie-nivel.edit > .addgradobtn, 
.estructuraie-nivel.edit > .removenivelbtn,
.estructuraie-nivel {}
.estructuraie-nivel > input, 
.estructuraie-nivel.edit > .hidden_on_editing {
	display: none
}
.estructuraie-nivel.edit > input {
	display: block
}*/

.seccion {
	padding: 10px 0px 10px 0px;
	background: #f7f7f9;
}
.seccion .seccion-header { padding: 5px 0px 5px 0px; }
.criterio {
	padding: 5px 0px 5px 0px;
	background: #fff;
}