@CHARSET "ISO-8859-1";

body {
	padding: 60px;
}

.navbar-default {
	background: #fff;
}

.estructuraie-nivel {}
.estructuraie-nivel > input, .estructuraie-nivel.edit > .editbtn, 
.estructuraie-nivel.edit > .desc {
	display: none
}
.estructuraie-nivel.edit > input {
	display: block
}