@CHARSET "ISO-8859-1";

body {
	padding: 60px;
}

.navbar-default {
	background: #fff;
}

/*.estructuraie-nivel.edit > .editbtn, 
.estructuraie-nivel.edit > .desc, .estructuraie-nivel.edit > .addgradobtn, 
.estructuraie-nivel.edit > .removenivelbtn,*/
.estructuraie-nivel {}
.estructuraie-nivel > input, 
.estructuraie-nivel > .hidden_on_editing {
	display: none
}
.estructuraie-nivel.edit > input {
	display: block
}